.container {
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  background: white;
  padding: 10px;
  display: flex;
  flex-direction: column;
}
.hidden {
  visibility: hidden;
}
.rowContainer {
  display: flex;
  gap: 5px;

}
